@(queryString:Option[String], searchResponse:Option[org.elasticsearch.action.search.SearchResponse])(implicit flash: Flash)
@import org.elasticsearch.search.SearchHit
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime
@import  stretchy.views._

@main("Search") {
    @if(flash.get("message").isDefined) {
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>@flash.get("message").get</strong>
    </div>
    }
    <form class="form-inline" action="@routes.Application.search(queryString)" method="get">
        <div class="input-append span12">
        <input type="text" placeholder="search" class="span11" name="q" width="100%" height="45px"
                value="@queryString.getOrElse("")" />
        <button type="submit" class="btn" ><i class="icon-search"></i></button>
        </div>
    </form>
    <br/>
    @defining(searchResponse.map(sr  =>  HitsViewHelper(sr)))  {maybeHits  =>
      @maybeHits.map { hits  =>
        <p>
           <span>Returning  @hits.searchResponse.getHits.hits.length of @hits.searchResponse.getHits.getTotalHits</span>
        </p>
        <table class="table table-striped span12">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Highlights</th>
            </tr>
            </thead>
          <tbody>
              @for(hit <- hits.hits) {
              <tr>
                <td><a  href="@routes.Application.article(hit.id)">@hit("title")</a> </td>
                <td>@hit("author")</td>
                <td>@hit.withHighlightFields  { (field, fragments) =>
                  @for(frag <-  fragments) {
                  <blockquote>
                    <p>@frag</p>
                    <small>From <cite title="@field">@field</cite></small>
                  </blockquote>
                  }
                }
                </td>
              </tr>
              }
          </tbody>
        </table>
     }
   }
}
