@(queryString:Option[String], searchResponse:org.elasticsearch.action.search.SearchResponse)(implicit flash: Flash)
@import org.elasticsearch.search.SearchHit
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime

@main("Search") {
    @if(flash.get("message").isDefined) {
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>@flash.get("message").get</strong>
    </div>
    }
    <form class="form-inline" action="@routes.Application.index(queryString)" method="get">
        <div class="input-append span12">
        <input type="text" placeholder="search" class="span11" name="q" width="100%" height="45px"
                value="@queryString.getOrElse("")" />
        <button type="submit" class="btn" ><i class="icon-search"></i></button>
        </div>
    </form>
    <br/>
    @if(searchResponse != null)  {
        <p>
    <span>Returning  @searchResponse.getHits.hits.length of @searchResponse.getHits.getTotalHits</span>
        </p>
    }
    <table class="table table-striped span12">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @if(searchResponse != null)  {
            @for(e <- searchResponse.getHits.hits) {
            <tr>
                <td>@e.getId()</td>
                <td>@optionalField(e ,"name")</td>
                <td>@optionalField(e ,"description")</td>
            </tr>
            }
        }
        </tbody>
    </table>
}


@optionalField(hit: SearchHit,  fieldName:String)  =  {
@defining(hit.field(fieldName) ) { field =>
@if(field  !=  null)  {
@field.getValue
}  else  {}
}
}
